* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

.main-text {
  display: flex;
  position: absolute;
  top: 50px;
  right: 50px;
}


